@mixin font-face($fontName, $fileName, $path, $weight: normal, $style: normal) {
    @font-face {
        font-family: $fontName;
        src: url($path+$fileName+'.eot');
        src: url($path+$fileName+'.eot?#iefix') format('embedded-opentype'),
            url($path+$fileName+'.woff') format('woff'),
            url($path+$fileName+'.woff2') format('woff2'),
            url($path+$fileName+'.ttf') format('truetype'),
            url($path+$fileName+'.svg#'+$fileName) format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}
