@import "font/mixins";
@import "round/varriables";
@import "font/varriables";
@import "line-clamp/varriables";
// ------------------------ JosefinSans
@include font-face(
  'JosefinSans-Bold',
  'JosefinSans-Bold',
  '~@/assets/fonts/JosefinSans/'
);
$JosefinSansBold: 'JosefinSans-Bold';
@include font-face(
  'JosefinSans-ExtraLight',
  'JosefinSans-ExtraLight',
  '~@/assets/fonts/JosefinSans/'
);
$JosefinSansExtraLight: 'JosefinSans-ExtraLight';
@include font-face(
  'JosefinSans-Italic',
  'JosefinSans-Italic',
  '~@/assets/fonts/JosefinSans/'
);
$JosefinSansItalic: 'JosefinSans-Italic';
@include font-face(
  'JosefinSans-Light',
  'JosefinSans-Light',
  '~@/assets/fonts/JosefinSans/'
);
$JosefinSansLight: 'JosefinSans-Light';
@include font-face(
  'JosefinSans-LightItalic',
  'JosefinSans-LightItalic',
  '~@/assets/fonts/JosefinSans/'
);
$JosefinSansLightItalic: 'JosefinSans-LightItalic';
@include font-face(
  'JosefinSans-Medium',
  'JosefinSans-Medium',
  '~@/assets/fonts/JosefinSans/'
);
$JosefinSansMedium: 'JosefinSans-Medium';
@include font-face(
  'JosefinSans-Regular',
  'JosefinSans-Regular',
  '~@/assets/fonts/JosefinSans/'
);
$JosefinSansRegular: 'JosefinSans-Regular';
@include font-face(
  'JosefinSans-SemiBoldItalic',
  'JosefinSans-SemiBoldItalic',
  '~@/assets/fonts/JosefinSans/'
);
$JosefinSansRegular: 'JosefinSans-SemiBoldItalic';
@include font-face(
  'JosefinSans-SemiBold',
  'JosefinSans-SemiBold',
  '~@/assets/fonts/JosefinSans/'
);
$JosefinSansSemiBold: 'JosefinSans-SemiBold';
@include font-face(
  'JosefinSans-Thin',
  'JosefinSans-Thin',
  '~@/assets/fonts/JosefinSans/'
);
$JosefinSansThin: 'JosefinSans-Thin';
@include font-face(
  'JosefinSans-ThinItalic',
  'JosefinSans-ThinItalic',
  '~@/assets/fonts/JosefinSans/'
);
// ------------------------ Kodchasan
$KodchasanThinItalic: 'JosefinSans-ThinItalic';
@include font-face(
  'Kodchasan-Bold',
  'Kodchasan-Bold',
  '~@/assets/fonts/Kodchasan/'
);
$KodchasanBold: 'Kodchasan-Bold';
@include font-face(
  'Kodchasan-ExtraLight',
  'Kodchasan-ExtraLight',
  '~@/assets/fonts/Kodchasan/'
);
$KodchasanExtraLight: 'Kodchasan-ExtraLight';
@include font-face(
  'Kodchasan-Italic',
  'Kodchasan-Italic',
  '~@/assets/fonts/Kodchasan/'
);
$KodchasanItalic: 'Kodchasan-Italic';
@include font-face(
  'Kodchasan-Light',
  'Kodchasan-Light',
  '~@/assets/fonts/Kodchasan/'
);
$KodchasanLight: 'Kodchasan-Light';
@include font-face(
  'Kodchasan-LightItalic',
  'Kodchasan-LightItalic',
  '~@/assets/fonts/Kodchasan/'
);
$KodchasanLightItalic: 'Kodchasan-LightItalic';
@include font-face(
  'Kodchasan-Medium',
  'Kodchasan-Medium',
  '~@/assets/fonts/Kodchasan/'
);
$KodchasanMedium: 'Kodchasan-Medium';
@include font-face(
  'Kodchasan-Regular',
  'Kodchasan-Regular',
  '~@/assets/fonts/Kodchasan/'
);
$KodchasanRegular: 'Kodchasan-Regular';
@include font-face(
  'Kodchasan-SemiBoldItalic',
  'Kodchasan-SemiBoldItalic',
  '~@/assets/fonts/Kodchasan/'
);
$KodchasanRegular: 'Kodchasan-SemiBoldItalic';
@include font-face(
  'Kodchasan-SemiBold',
  'Kodchasan-SemiBold',
  '~@/assets/fonts/Kodchasan/'
);
$KodchasanSemiBold: 'Kodchasan-SemiBold';
// ------------------------ K2D
@include font-face(
  'K2D-Bold',
  'K2D-Bold',
  '~@/assets/fonts/K2D/'
);
$K2DBold: 'K2D-Bold';
@include font-face(
  'K2D-BoldItalic',
  'K2D-BoldItalic',
  '~@/assets/fonts/K2D/'
);
$K2DBoldItalic: 'K2D-BoldItalic';
@include font-face(
  'K2D-ExtraBold',
  'K2D-ExtraBold',
  '~@/assets/fonts/K2D/'
);
$K2DExtraBold: 'K2D-ExtraBoldItalic';
@include font-face(
  'K2D-ExtraBoldItalic',
  'K2D-ExtraBoldItalic',
  '~@/assets/fonts/K2D/'
);
$K2DExtraBoldItalic: 'K2D-ExtraBoldItalic';
@include font-face(
  'K2D-ExtraLight',
  'K2D-ExtraLight',
  '~@/assets/fonts/K2D/'
);
$K2DExtraExtraLight: 'K2D-ExtraLightItalic';
@include font-face(
  'K2D-ExtraLightItalic',
  'K2D-ExtraLightItalic',
  '~@/assets/fonts/K2D/'
);
$K2DExtraLightItalic: 'K2D-ExtraLightItalic';
@include font-face(
  'K2D-Italic',
  'K2D-Italic',
  '~@/assets/fonts/K2D/'
);
$K2DItalic: 'K2D-Light';
@include font-face(
  'K2D-Light',
  'K2D-Light',
  '~@/assets/fonts/K2D/'
);
$K2DLight: 'K2D-Light';
@include font-face(
  'K2D-LightItalic',
  'K2D-LightItalic',
  '~@/assets/fonts/K2D/'
);
$K2DLightItalic: 'K2D-LightItalic';
@include font-face(
  'K2D-Medium',
  'K2D-Medium',
  '~@/assets/fonts/K2D/'
);
$K2DMedium: 'K2D-Medium';
@include font-face(
  'K2D-MediumItalic',
  'K2D-MediumItalic',
  '~@/assets/fonts/K2D/'
);
$K2DMediumItalic: 'K2D-MediumItalic';
@include font-face(
  'K2D-Regular',
  'K2D-Regular',
  '~@/assets/fonts/K2D/'
);
$K2DRegular: 'K2D-SemiBold';
@include font-face(
  'K2D-SemiBold',
  'K2D-SemiBold',
  '~@/assets/fonts/K2D/'
);
$K2DSemiBold: 'K2D-SemiBold';
@include font-face(
  'K2D-SemiBoldItalic',
  'K2D-SemiBoldItalic',
  '~@/assets/fonts/K2D/'
);
$K2DSemiBoldItalic: 'K2D-SemiBoldItalic';
@include font-face(
  'K2D-Thin',
  'K2D-Thin',
  '~@/assets/fonts/K2D/'
);
$K2DThin: 'K2D-Thin';
@include font-face(
  'K2D-ThinItalic',
  'K2D-ThinItalic',
  '~@/assets/fonts/K2D/'
);
$K2DThinItalic: 'K2D-ThinItalic';

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.theme--light.v-application {
  background: #ececec !important;
}
.theme--light {
  .v-app-bar.v-toolbar.v-sheet{
    background-color: #ffffff;
  }
  .avatar-toolbar{
    background-color: #c7c7c7a6;
  }
  .loginContent{
    background: #ececec !important;
  }
}
.theme--dark {
  .loginContent{
    background: #292929 !important;
  }
  .avatar-toolbar{
    background-color: #363636;
  }
}
.title-bold{
  font-family: $K2DBold !important;
}
.title-medium{
  font-family: $K2DMedium !important;
}
#app {
  height: 100%;
  font-family: $K2DLight !important;
}
input{
  font-family: $K2DLight !important;
}
.v-btn{
  font-family: $K2DLight !important;
}
.v-alert__content{
  font-family: $K2DLight !important;
}
.vth-addr-item-first{
  font-family: $K2DLight !important;
  font-size: $title-10 !important;
}
.v-text-field__slot{
  font-size: $title-8 !important;
}
html{
  overflow-y: auto !important;
  overflow-x: hidden !important;
  font-size: $title-8 !important;
}
html::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px #5d5d5d;
  background-color: #5d5d5d;
}
html::-webkit-scrollbar{
  width: 0px;
}
html::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px #424242;
  background-color: #424242;
}
.v-dialog{
  z-index: 5000 !important;
  margin: 15px !important;
}
.pointer{
  cursor: pointer !important;
}
.v-btn{
  text-transform: capitalize !important;
}
.v-alert{
  font-size: $title-10 !important;
}
.v-alert__content {
  text-align: left !important;
}
.snotifyToast__title{
  font-size: $title-8 !important;
}
.snotify{
  z-index: 6000 !important;
}
.snotifyToast__body{
  font-size: $title-8 !important;
}
.text-decoration-none{
  text-decoration: none;
}
.snotifyToast__inner{
  word-break: break-word !important;
}
.width-full{
  width: 100%;
}
.v-menu__content{
  z-index: 200 !important;
}
.title-1{
  font-size: $title-1 !important;
}
.title-2{
  font-size: $title-2 !important;
}
.title-3{
  font-size: $title-3 !important;
}
.title-4{
  font-size: $title-4 !important;
}
.title-5{
  font-size: $title-5 !important;
}
.title-6{
  font-size: $title-6 !important;
}
.title-7{
  font-size: $title-7 !important;
}
.title-8{
  font-size: $title-8 !important;
}
.title-9{
  font-size: $title-9 !important;
}
.title-10{
  font-size: $title-10 !important;
}
.title-11{
  font-size: $title-11 !important;
}
.title-12{
  font-size: $title-12 !important;
}
.title-13{
  font-size: $title-13 !important;
}
.title-14{
  font-size: $title-14 !important;
}
.title-15{
  font-size: $title-15 !important;
}
.title-16{
  font-size: $title-16 !important;
}
.title-17{
  font-size: $title-17 !important;
}
.title-18{
  font-size: $title-18 !important;
}
.title-19{
  font-size: $title-19 !important;
}
.title-20{
  font-size: $title-20 !important;
}
.title-21{
  font-size: $title-21 !important;
}
.title-22{
  font-size: $title-22 !important;
}
.title-23{
  font-size: $title-23 !important;
}
.title-24{
  font-size: $title-24 !important;
}
.title-25{
  font-size: $title-25 !important;
}
.title-26{
  font-size: $title-26 !important;
}
.title-27{
  font-size: $title-27 !important;
}
.title-28{
  font-size: $title-28 !important;
}
.title-29{
  font-size: $title-29 !important;
}
.title-30{
  font-size: $title-30 !important;
}
.title-31{
  font-size: $title-31 !important;
}
.title-32{
  font-size: $title-32 !important;
}
.title-33{
  font-size: $title-33 !important;
}
.title-34{
  font-size: $title-34 !important;
}
.title-35{
  font-size: $title-35 !important;
}
.title-36{
  font-size: $title-36 !important;
}
.title-37{
  font-size: $title-37 !important;
}
.title-38{
  font-size: $title-38 !important;
}
.title-39{
  font-size: $title-39 !important;
}
.title-40{
  font-size: $title-40 !important;
}
.title-41{
  font-size: $title-41 !important;
}
.title-42{
  font-size: $title-42 !important;
}
.title-43{
  font-size: $title-43 !important;
}
.title-45{
  font-size: $title-45 !important;
}
.title-45{
  font-size: $title-45 !important;
}
.title-46{
  font-size: $title-46 !important;
}
.line-clamp-default{
  -webkit-box-orient: vertical; 
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
}
.line-clamp-1{
  @extend .line-clamp-default;
  -webkit-line-clamp: $line-clamp-1 !important;
}
.line-clamp-2{
  @extend .line-clamp-default;
  -webkit-line-clamp: $line-clamp-2 !important;
}
.line-clamp-3{
  @extend .line-clamp-default;
  -webkit-line-clamp: $line-clamp-3 !important;
}
.line-clamp-4{
  @extend .line-clamp-default;
  -webkit-line-clamp: $line-clamp-4 !important;
}
.line-clamp-5{
  @extend .line-clamp-default;
  -webkit-line-clamp: $line-clamp-5 !important;
}
.line-clamp-6{
  @extend .line-clamp-default;
  -webkit-line-clamp: $line-clamp-6 !important;
}
.round-0{
  border-radius: 0px !important;
}
.round-1{
  border-radius: $round-1 !important;
}
.round-2{
  border-radius: $round-2 !important;
}
.round-3{
  border-radius: $round-3 !important;
}
.round-4{
  border-radius: $round-4 !important;
}
.round-5{
  border-radius: $round-5 !important;
}
.round-6{
  border-radius: $round-6 !important;
}
.round-7{
  border-radius: $round-7 !important;
}
.round-8{
  border-radius: $round-8 !important;
}
.round-9{
  border-radius: $round-9 !important;
}
.round-10{
  border-radius: $round-10 !important;
}
.round-11{
  border-radius: $round-11 !important;
}
.round-12{
  border-radius: $round-12 !important;
}
.round-13{
  border-radius: $round-13 !important;
}
.round-14{
  border-radius: $round-14 !important;
}
.round-15{
  border-radius: $round-15 !important;
}
.text-indent-40{
  text-indent: 40px;
}
.img-cover{
  object-fit: cover;
}
.color-unset{
  color: unset !important;
}
.word-break{
  word-break: break-all;
}
.input-default-login{
  width: 100%;
  background: #ffffff14;
  min-height: 40px;
  border: solid 1px transparent;
  padding: 5px 10px 5px 10px;
  color: #ffffff;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  outline-style: none;
}
.input-default-login:focus{
  outline: unset !important;
}
::-webkit-input-placeholder { /* Edge */
  color: #ffffff82;
  font-size: $title-8 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff82;
  font-size: $title-8 !important;
}
::placeholder {
  color: #ffffff82;
  font-size: $title-8 !important;
}
.input-default-icon{
  width: 10%;
}
.input-default-contant{
  width: 90%;
}
.checkErrorLogin{
  border: solid 2px #ff5252 !important;
  border-collapse: collapse;
}
.shadow-1{
  box-shadow: 0 0.25rem 0.125rem 0 rgb(0 0 0 / 5%) !important;
}
.shadow-2{
  box-shadow: 0 0.25rem 0.125rem 0 rgb(0 0 0 / 10%) !important;
}
.v-label{
  font-size: $title-8 !important;
}
.snotify-icon {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
  max-height: 30px !important;
  max-width: 30px !important;
}
.snotifyToast__inner{
  padding: 5px 50px 5px 15px !important;
  min-height: 60px !important;
}
.snotifyToast__progressBar{
  height: 5px !important;
}
.snotifyToast__progressBar__percentage{
  height: 5px !important;
}
.card-default{
  margin-top: -30% !important;
}
.card-default-1{
  margin-top: -20% !important;
}
.card-default-2{
  margin-top: -70% !important;
}
.v-select__selection--comma{
  font-size: $title-8 !important;
}
.theme--light.v-image{
  color: #ffffff !important;
}
table{
  th, td{
    padding: 2px !important;
  }
}