<template>
  <v-row
    no-gutters
  >
    <v-col
      cols="12"
    >
      <v-row
        class="
        pt-4
        pb-1
        px-2"
        no-gutters
      >
        <v-col
          cols="12"
        >
          <v-card
            class="
            round-5
            shadow-1
            pa-2"
          >
            <v-row
              no-gutters
            >
              <v-col
                cols="6"
              >
                <div
                  class="
                  pt-1
                  title-10"
                >
                  <strong>
                    จัดการตัวเลือกเสริมสินค้า
                  </strong>
                </div>
              </v-col>
              <v-col
                cols="6"
                class="text-right"
              >
                <v-btn
                  class="
                  round-2
                  px-2
                  ml-1"
                  small
                  dark
                  depressed
                  color="success"
                  @click="dialogAddModifier = true"
                >
                  <i
                    class="
                    fad fa-plus-circle
                    fa-2x"
                    style="--fa-secondary-opacity: 0.30"
                  />
                  <span
                    class="pl-2"
                  >
                    เพิ่มตัวเลือกเสริมสินค้า
                  </span>
                </v-btn>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      <v-row
        class="
        py-1
        px-2"
        no-gutters
      >
        <v-col
          cols="12"
        >
          <v-card
            class="
            round-5
            shadow-1
            pa-2"
          >
            <v-row
              no-gutters
            >
              <v-col
                cols="12"
              >
                <v-data-table
                  dense
                  :headers="headers"
                  :items="desserts"
                  item-key="name"
                >
                  <template
                    #top
                  >
                    <v-dialog
                      v-model="dialogAddModifier"
                      persistent
                      max-width="400px"
                    >
                      <modalAddModifier />
                    </v-dialog>
                    <v-dialog
                      v-model="didialogEditModifier"
                      persistent
                      max-width="400px"
                    >
                      <modalEditModifier />
                    </v-dialog>
                    <v-dialog
                      v-model="dialogDelModifier"
                      persistent
                      max-width="400px"
                    >
                      <madalDelModifier />
                    </v-dialog>
                  </template>
                  <template
                    #[`item.manage`]="{}"
                  >
                    <v-btn
                      class="
                      my-2
                      round-2
                      px-2"
                      small
                      dark
                      depressed
                      color="warning"
                      @click="getDataProductById()"
                    >
                      <i
                        class="
                        fad fa-pen
                        fa-2x"
                        style="--fa-secondary-opacity: 0.30"
                      />
                      <span
                        class="pl-2"
                      >
                        แก้ไข
                      </span>
                    </v-btn>
                    <v-btn
                      class="
                      my-2
                      round-2
                      px-2
                      ml-1"
                      small
                      dark
                      depressed
                      color="error"
                      @click="getDataDelProduct()"
                    >
                      <i
                        class="
                        fad fa-trash
                        fa-2x"
                        style="--fa-secondary-opacity: 0.30"
                      />
                      <span
                        class="pl-2"
                      >
                        ลบ
                      </span>
                    </v-btn>
                  </template>
                </v-data-table>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import modalAddModifier from '@/components/modifier/modalAddModifier'
import modalEditModifier from '@/components/modifier/modalEditModifier'
import madalDelModifier from '@/components/modifier/madalDelModifier'

export default {
  components: {
    modalAddModifier,
    modalEditModifier,
    madalDelModifier
  },
  layout: 'default',
  data () {
    return {
      dialogAddModifier: false,
      didialogEditModifier: false,
      dialogDelModifier: false,
      headers: [
        {
          text: 'ชื่อตัวเลือกเสริมสินค้า',
          sortable: false,
          value: 'modifierName'
        },
        {
          text: 'นำไปใช้กับสินค้า',
          sortable: false,
          value: 'use',
          align: 'right'
        },
        {
          text: 'จัดการ',
          sortable: false,
          value: 'manage',
          align: 'right'
        }
      ],
      desserts: [
        {
          modifierName: 'มุกบราวน์ชูก้า',
          use: 50
        }
      ]
    }
  },
  computed: {
    ...mapGetters(
      {
      }
    )
  },
  mounted () {
    this.$root.$on('dialogModifierById', (type) => {
      this.didialogEditModifier = type
    })
    this.$root.$on('dialogAddModifier', (type) => {
      this.dialogAddModifier = type
    })
    this.$root.$on('dialogDelModifierById', (type) => {
      this.dialogDelModifier = type
    })
  },
  methods: {
    ...mapActions(
      {
      }
    ),
    getDataProductById () {
      this.didialogEditModifier = true
    },
    getDataDelProduct () {
      this.dialogDelModifier = true
    }
  }
}
</script>
