<template>
  <div>
    <v-card
      class="round-5"
    >
      <v-toolbar
        color="error"
        dense
        flat
        dark
      >
        <strong
          class="title-10"
        >
          ลบประเภทสินค้า
        </strong>
      </v-toolbar>
      <v-card-text
        class="py-0"
      >
        <div>
          <v-divider />
        </div>
      </v-card-text>
      <v-card-text
        class="
        px-4
        pb-3"
      >
        <v-row no-gutters>
          <v-col
            class="title-8"
            cols="12"
          >
            ยืนยันการลบประเภทสินค้า ใช่หรือไม่ ?
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider />
      <v-card-actions
        class="
        pt-3
        px-3
        d-flex
        justify-end"
      >
        <v-btn
          dark
          outlined
          color="error"
          @click="dialogDelCategory"
        >
          <i
            class="
            error--text
            fad fa-times-circle
            fa-2x"
            style="--fa-secondary-opacity: 0.30"
          />
          <span
            class="
            title-8
            pl-2"
          >
            ปิด
          </span>
        </v-btn>
        <v-btn
          dark
          color="success"
        >
          <i
            class="
            white--text
            fad fa-save
            fa-2x"
            style="--fa-secondary-opacity: 0.30"
          />
          <span
            class="
            title-8
            pl-2"
          >
            ยืนยันการลบ
          </span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters(
      [
      ]
    )
  },
  methods: {
    dialogDelCategory () {
      this.$root.$emit('dialogDelCetegoryById', false)
    },
    ...mapActions(
      [
      ]
    )
  }
}
</script>

<style lang="scss">
</style>
