<template>
  <v-card
    class="round-5"
  >
    <v-toolbar
      color="success"
      dense
      flat
      dark
    >
      <strong
        class="title-10"
      >
        เพิ่มตัวเลือกเสริมสินค้า
      </strong>
    </v-toolbar>
    <v-card-text
      class="
      px-2
      py-4"
    >
      <v-row
        class="
        pt-2
        pb-1"
        no-gutters
      >
        <v-col
          cols="12"
        >
          <v-text-field
            placeholder="ชื่อตัวเลือกเสริมสินค้า"
            label="ชื่อตัวเลือกเสริมสินค้า"
            readonly
            hide-details
            dense
            outlined
          />
        </v-col>
      </v-row>
    </v-card-text>
    <v-divider />
    <v-card-actions
      class="
      px-2
      d-flex
      justify-end"
    >
      <v-btn
        dark
        outlined
        color="error"
        @click="dialogAddModifier"
      >
        <i
          class="
          error--text
          fad fa-times-circle
          fa-2x"
          style="--fa-secondary-opacity: 0.30"
        />
        <span
          class="
          title-8
          pl-2"
        >
          ปิด
        </span>
      </v-btn>
      <v-btn
        dark
        color="success"
      >
        <i
          class="
          white--text
          fad fa-save
          fa-2x"
          style="--fa-secondary-opacity: 0.30"
        />
        <span
          class="
          title-8
          pl-2"
        >
          บันทึก
        </span>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: [
  ],
  data () {
    return {
    }
  },
  mounted () {
  },
  methods: {
    dialogAddModifier () {
      this.$root.$emit('dialogAddModifier', false)
    }
  }
}
</script>

<style>

</style>
