<template>
  <v-card
    class="round-5"
  >
    <v-toolbar
      color="success"
      dense
      flat
      dark
    >
      <strong
        class="title-10"
      >
        เพิ่มสินค้า
      </strong>
    </v-toolbar>
    <v-card-text
      class="
      px-2
      py-4"
    >
      <v-row
        no-gutters
      >
        <v-col
          cols="12"
          class="text-center"
        >
          <div>
            <input
              ref="inputPicture"
              accept="image/*"
              type="file"
              style="display:none"
              @change="uploadImgProduct"
            >
            <img
              v-if="showImgUpload"
              v-img
              height="200"
              width="200"
              :src="showImgUpload"
              class="
              img-cover
              round-4"
            >
          </div>
          <div
            class="pt-2"
          >
            <v-btn
              dark
              dense
              outlined
              class="round-2"
              color="warning"
              @click="selectImageToUpload()"
            >
              <i
                class="
                warning--text
                fad fa-camera
                fa-lg"
                style="--fa-secondary-opacity: 0.30"
              />
              <span
                v-if="showImgUpload"
                class="
                title-bold
                pl-2"
              >
                เปลี่ยนรูป
              </span>
              <span
                v-if="!showImgUpload"
                class="
                title-bold
                pl-2"
              >
                เพิ่มรูป
              </span>
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <v-row
        class="
        pt-2
        pb-1"
        no-gutters
      >
        <v-col
          cols="12"
        >
          <v-text-field
            placeholder="ชื่อสินค้า"
            label="ชื่อสินค้า"
            readonly
            hide-details
            dense
            outlined
          />
        </v-col>
      </v-row>
      <v-row
        class="py-1"
        no-gutters
      >
        <v-col
          cols="12"
        >
          <v-select
            hide-details
            dense
            item-value=""
            item-text=""
            placeholder="ประเภท"
            label="ประเภท"
            outlined
          />
        </v-col>
      </v-row>
      <v-row
        class="py-1"
        no-gutters
      >
        <v-col
          cols="12"
        >
          <v-text-field
            placeholder="บาร์โค้ด"
            label="บาร์โค้ด"
            readonly
            hide-details
            dense
            outlined
          />
        </v-col>
      </v-row>
      <v-row
        class="py-1"
        no-gutters
      >
        <v-col
          cols="12"
        >
          <v-text-field
            placeholder="ราคาหน้าร้าน"
            label="ราคาหน้าร้าน"
            type="number"
            readonly
            hide-details
            dense
            outlined
          />
        </v-col>
      </v-row>
    </v-card-text>
    <v-divider />
    <v-card-actions
      class="
      px-2
      d-flex
      justify-end"
    >
      <v-btn
        dark
        outlined
        color="error"
        @click="dialogAddProduct"
      >
        <i
          class="
          error--text
          fad fa-times-circle
          fa-2x"
          style="--fa-secondary-opacity: 0.30"
        />
        <span
          class="
          title-8
          pl-2"
        >
          ปิด
        </span>
      </v-btn>
      <v-btn
        dark
        color="success"
        @click="postDataProduct()"
      >
        <i
          class="
          white--text
          fad fa-save
          fa-2x"
          style="--fa-secondary-opacity: 0.30"
        />
        <span
          class="
          title-8
          pl-2"
        >
          บันทึก
        </span>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: [
  ],
  data () {
    return {
      showImgUpload: '',
      ImgUpload: ''
    }
  },
  mounted () {
  },
  methods: {
    dialogAddProduct () {
      this.$root.$emit('dialogAddProduct', false)
    },
    uploadImgProduct (e) {
      if (e.target.files[0]) {
        const pic = e.target.files[0]
        const preview = URL.createObjectURL(pic)
        this.showImgUpload = preview
        this.ImgUpload = pic
      }
      const messageRef = this.$fire.storage.ref()
      const name = +new Date() + '-' + this.ImgUpload.name
      const metadata = {
        contentType: this.ImgUpload.type
      }
      const task = messageRef.child(name).put(this.ImgUpload, metadata)
      task
        .then(snapshot => snapshot.ref.getDownloadURL())
        .then((url) => {
          console.log(url)
        })
        .catch((error) => {
          console.log(error)
        })
    },
    selectImageToUpload () {
      this.$nextTick(() => {
        this.$refs.inputPicture.click()
      })
    },
    postDataProduct () {
    }
  }
}
</script>

<style>

</style>
