<template>
  <v-card
    id="sidebar"
    class="round-0"
  >
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant.sync="mini"
      width="210"
      hide-overlay
      fixed
      app
    >
      <v-list
        dense
      >
        <v-list-item
          v-if="mini === false"
          class="
            px-1
            py-1
          "
        >
          <div
            class="d-flex"
          >
            <div>
              <img
                src="@/assets/logo.png"
                width="50"
              >
            </div>
            <div
              class="pl-2"
            >
              <div
                :style="'color:' + $store.state.theme_config.setTheme.main + ';'"
                class="
                title-bold
                title-16
                "
              >
                CaddyQ
              </div>
              <div
                v-if="$nuxt.$fire.auth.currentUser"
                class="
                  grey--text
                  text--lighten-1
                "
              >
                {{ $nuxt.$fire.auth.currentUser.email }}
              </div>
            </div>
          </div>
        </v-list-item>
        <v-divider />
        <v-list-item to="/firebase">
          <v-list-item-icon>
            <v-avatar
              class="
                avatar-sidebar
                round-3
              "
              size="25"
            >
              <i
                :style="'color:' + $store.state.theme_config.setTheme.main + ';'"
                class="
                  text--lighten-5
                  fab fa-google
                  fa-lg
                "
                style="
                  --fa-secondary-opacity: 0.30
                "
              />
            </v-avatar>
          </v-list-item-icon>
          <v-list-item-title
            class="
              title-medium
              title-8
            "
          >
            firebase
          </v-list-item-title>
        </v-list-item>
        <v-divider />
        <v-list-group
          :value="
            $route.name === 'products' ||
              $route.name === 'category' ||
              $route.name === 'modifier'
          "
          prepend-icon=""
        >
          <template
            #activator
          >
            <v-list-item-icon>
              <v-avatar
                class="
                  avatar-sidebar
                  round-3
                "
                size="25"
              >
                <i
                  :style="'color:' + $store.state.theme_config.setTheme.main + ';'"
                  class="
                    text--lighten-5
                    fad fa-gifts
                    fa-lg
                  "
                  style="
                    --fa-secondary-opacity: 0.30
                  "
                />
              </v-avatar>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title
                class="
                  title-medium
                  title-8
                "
              >
                จัดการสินค้า
              </v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item
            to="/products"
          >
            <v-list-item-title
              class="title-8"
            >
              รายการสินค้า
            </v-list-item-title>
          </v-list-item>
          <v-list-item
            to="/category"
          >
            <v-list-item-title
              class="title-8"
            >
              หมวดหมู่สินค้า
            </v-list-item-title>
          </v-list-item>
          <v-list-item
            to="/modifier"
          >
            <v-list-item-title
              class="title-8"
            >
              ตัวเลือกเสริม
            </v-list-item-title>
          </v-list-item>
        </v-list-group>
        <v-divider />
        <v-list-item to="/partner">
          <v-list-item-icon>
            <v-avatar
              class="
                avatar-sidebar
                round-3
              "
              size="25"
            >
              <i
                :style="'color:' + $store.state.theme_config.setTheme.main + ';'"
                class="
                text--lighten-5
                fad fa-handshake
                fa-lg"
                style="--fa-secondary-opacity: 0.30"
              />
            </v-avatar>
          </v-list-item-icon>
          <v-list-item-title
            class="
            title-medium
            title-8"
          >
            พันธมิตร
          </v-list-item-title>
        </v-list-item>
        <v-list-item
          class="
          sidebarSignout
          px-2"
          link
          @click="postDataSignout"
        >
          <v-list-item-content>
            <v-list-item-title
              class="
              error--text
              title-8"
            >
              ออกจากระบบ
            </v-list-item-title>
          </v-list-item-content>
          <v-list-item-icon>
            <v-avatar
              class="
              avatar-sidebar
              round-3"
              size="25"
            >
              <i
                class="
                error--text
                fad fa-sign-out
                fa-lg"
                style="--fa-secondary-opacity: 0.40"
              />
            </v-avatar>
          </v-list-item-icon>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-card>
</template>

<script>
export default {
  data () {
    return {
      drawer: true,
      mini: false
    }
  },
  mounted () {
    this.$root.$on('dataDrawerToOpenAndClose', () => {
      this.drawer = !this.drawer
    })
  },
  methods: {
    postDataSignout () {
      this.$nuxt.$fire.auth.signOut()
    }
  }
}
</script>

<style lang="scss">
#sidebar{
  .v-navigation-drawer .v-list{
    padding: 0px !important;
  }
  .v-list-item--dense .v-list-item__icon, .v-list--dense .v-list-item .v-list-item__icon:first-child{
    margin-right: 15px !important;
  }
  .primary--text{
    color: unset !important;
    caret-color: unset !important;
  }
  .theme--light{
    .avatar-sidebar{
      background-color: #c7c7c7a6;
    }
  }
  .theme--dark{
    .avatar-sidebar{
      background-color: #272727;
    }
  }
  .v-list--dense .v-list-item .v-list-item__title{
    line-height: 2rem !important;
  }
  .sidebarSignout{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
</style>
