<template>
  <div id="toolbar">
    <v-app-bar
      fixed
      dense
      app
      flat
    >
      <v-avatar
        class="
        pointer
        avatar-toolbar
        round-3"
        size="25"
        @click.stop="drawerToOpenAndClose()"
      >
        <i
          :style="'color:' + $store.state.theme_config.setTheme.main + ';'"
          class="
          text--lighten-5
          fad fa-bars
          fa-lg"
          style="--fa-secondary-opacity: 0.30"
        />
      </v-avatar>
      <v-toolbar-title
        class="pl-0"
      >
        <span
          v-if="$nuxt.$fire.auth.currentUser"
          :style="'color:' + $store.state.theme_config.setTheme.main + ';'"
          class="
          title-15
          title-bold
          pl-2"
        >
          {{ $i18n.locale }}
          {{ $t('textfield.testFieldUsername') }}
        </span>
      </v-toolbar-title>
      <v-spacer />
      <v-btn
        v-if="themeVuetify === true"
        icon
        @click="setDataTheme(
          false
        )"
      >
        <i
          class="fas fa-sun fa-2x"
        />
      </v-btn>
      <v-btn
        v-if="themeVuetify === false"
        icon
        @click="setDataTheme(
          true
        )"
      >
        <i
          class="fas fa-moon fa-2x"
        />
      </v-btn>
      <v-menu
        offset-y
      >
        <template #activator="{ on }">
          <v-chip
            link
            class="
            round-3
            title-10
            ma-1"
            v-on="on"
          >
            <v-avatar
              v-if="$t('langId') === 'th'"
              left
            >
              <img src="@/assets/flag/thailand.png">
            </v-avatar>
            <v-avatar
              v-if="$t('langId') === 'en'"
              left
            >
              <img src="@/assets/flag/uk.png">
            </v-avatar>
            <v-avatar
              v-if="$t('langId') === 'cn'"
              left
            >
              <img src="@/assets/flag/china.png">
            </v-avatar>
            <span
              :style="'color:' + $store.state.theme_config.setTheme.main + ';'"
            >
              {{ $t('langName') }}
            </span>
            <v-icon
              class="ml-2"
              :color="$store.state.theme_config.setTheme.main"
              size="15"
            >
              fas fa-chevron-down
            </v-icon>
          </v-chip>
        </template>
        <v-list
          class="py-0"
        >
          <v-list-item
            v-for="(lang, index) in languages"
            :key="`lang${index}`"
            link
            class="px-2"
            dense
            @change="postDataLanguageType(
              lang
            )"
          >
            <v-list-item-avatar
              class="ma-0"
            >
              <v-avatar
                size="25"
                left
              >
                <img
                  v-if="lang.id === 1"
                  src="@/assets/flag/thailand.png"
                >
                <img
                  v-if="lang.id === 2"
                  src="@/assets/flag/uk.png"
                >
                <img
                  v-if="lang.id === 3"
                  src="@/assets/flag/china.png"
                >
              </v-avatar>
            </v-list-item-avatar>
            <v-list-item-content>
              {{ lang.title }}
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-avatar
        :color="$store.state.theme_config.setTheme.main"
        class="
        round-3
        ml-1
        pointer"
        size="32"
      >
        <span
          v-if="$nuxt.$fire.auth.currentUser"
          class="
          white--text
          title-bold"
        >
          {{ $nuxt.$fire.auth.currentUser.email.slice(0, 2) }}
        </span>
      </v-avatar>
    </v-app-bar>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  props: [
  ],
  data () {
    return {
      drawer: true,
      languages: [
        {
          id: 1,
          title: this.$t('languages.thai'),
          value: 'th'
        },
        {
          id: 2,
          title: this.$t('languages.english'),
          value: 'en'
        },
        {
          id: 3,
          title: this.$t('languages.china'),
          value: 'cn'
        }
      ]
    }
  },
  computed: {
    themeVuetify () {
      return this.$vuetify.theme.dark
    }
  },
  methods: {
    ...mapActions(
      {
        setStoreDataThemeVuetify: 'theme_config/setStoreDataThemeVuetify',
        postDataStoreLanguageType: 'language_config/postDataStoreLanguageType'
      }
    ),
    setDataTheme (
      type
    ) {
      this.$vuetify.theme.dark = type
      this.setStoreDataThemeVuetify(
        type
      )
    },
    drawerToOpenAndClose () {
      this.$root.$emit('dataDrawerToOpenAndClose')
    },
    postDataLanguageType (
      item
    ) {
      this.$i18n.locale = item.value
      this.postDataStoreLanguageType(
        item.value
      )
    }
  }
}
</script>

<style lang="scss">
#toolbar{
  .v-toolbar__content{
    padding-left: 5px;
    padding-right: 5px;
  }
}
</style>
