<template>
  <v-row no-gutters>
    <v-col cols="12">
      <v-row
        class="
        pt-4
        pb-1
        px-2"
        no-gutters
      >
        <v-col
          cols="12"
        >
          <v-card
            class="
            round-5
            shadow-1
            pa-2"
          >
            <v-row
              no-gutters
            >
              <v-col
                cols="6"
              >
                <div
                  class="
                  pt-1
                  title-10"
                >
                  <strong>
                    จัดการสินค้า
                  </strong>
                </div>
              </v-col>
              <v-col
                cols="6"
                class="text-right"
              >
                <v-btn
                  class="
                  round-2
                  px-2
                  ml-1"
                  small
                  dark
                  depressed
                  color="success"
                  @click="dialogAddProduct = true"
                >
                  <i
                    class="
                    fad fa-plus-circle
                    fa-2x"
                    style="--fa-secondary-opacity: 0.30"
                  />
                  <span
                    class="pl-2"
                  >
                    เพิ่มสินค้า
                  </span>
                </v-btn>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      <v-row
        class="
        py-1
        px-2"
        no-gutters
      >
        <v-col
          cols="12"
        >
          <v-card
            class="
            round-5
            shadow-1
            pa-2"
          >
            <v-row
              no-gutters
            >
              <v-col
                cols="12"
              >
                <v-data-table
                  dense
                  :headers="headers"
                  :items="desserts"
                  item-key="name"
                >
                  <template
                    #top
                  >
                    <v-dialog
                      v-model="dialogAddProduct"
                      persistent
                      max-width="400px"
                    >
                      <modalAddProduct />
                    </v-dialog>
                    <v-dialog
                      v-model="dialogEditProduct"
                      persistent
                      max-width="400px"
                    >
                      <modalEditProduct />
                    </v-dialog>
                    <v-dialog
                      v-model="dialogDelProduct"
                      persistent
                      max-width="400px"
                    >
                      <madalDelProduct />
                    </v-dialog>
                  </template>
                  <template
                    #[`item.img`]="{ item }"
                  >
                    <img
                      v-img
                      height="35"
                      width="35"
                      :src="item.img"
                      class="
                      mt-1
                      img-cover
                      round-3"
                    >
                  </template>
                  <template
                    #[`item.manage`]="{}"
                  >
                    <v-btn
                      class="
                      round-2
                      px-2"
                      small
                      dark
                      depressed
                      color="warning"
                      @click="getDataProductById()"
                    >
                      <i
                        class="
                        fad fa-pen
                        fa-2x"
                        style="--fa-secondary-opacity: 0.30"
                      />
                      <span
                        class="pl-2"
                      >
                        แก้ไข
                      </span>
                    </v-btn>
                    <v-btn
                      class="
                      round-2
                      px-2
                      ml-1"
                      small
                      dark
                      depressed
                      color="error"
                      @click="getDataDelProduct()"
                    >
                      <i
                        class="
                        fad fa-trash
                        fa-2x"
                        style="--fa-secondary-opacity: 0.30"
                      />
                      <span
                        class="pl-2"
                      >
                        ลบ
                      </span>
                    </v-btn>
                  </template>
                  <template
                    #[`item.price`]="{
                      item
                    }"
                  >
                    {{ item.price | currency }}
                  </template>
                  <template
                    #[`item.grab`]="{
                      item
                    }"
                  >
                    {{ item.grab | currency }}
                  </template>
                  <template
                    #[`item.lineman`]="{
                      item
                    }"
                  >
                    {{ item.lineman | currency }}
                  </template>
                  <template
                    #[`item.foodpanda`]="{
                      item
                    }"
                  >
                    {{ item.foodpanda | currency }}
                  </template>
                </v-data-table>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import modalAddProduct from '@/components/products/modalAddProduct'
import modalEditProduct from '@/components/products/modalEditProduct'
import madalDelProduct from '@/components/products/madalDelProduct'

export default {
  components: {
    modalAddProduct,
    modalEditProduct,
    madalDelProduct
  },
  layout: 'default',
  data () {
    return {
      dialogAddProduct: false,
      dialogEditProduct: false,
      dialogDelProduct: false,
      headers: [
        {
          text: 'รูป',
          sortable: false,
          value: 'img'
        },
        {
          text: 'ประเภท',
          sortable: false,
          value: 'category'
        },
        {
          text: 'ชื่อสินค้า',
          sortable: false,
          value: 'productName'
        },
        {
          text: 'บาร์โค้ด',
          sortable: false,
          value: 'barcode'
        },
        {
          text: 'ราคาหน้าร้าน',
          sortable: false,
          value: 'price',
          align: 'right'
        },
        {
          text: 'Grab',
          sortable: false,
          value: 'grab',
          align: 'right'
        },
        {
          text: 'Line Man',
          sortable: false,
          value: 'lineman',
          align: 'right'
        },
        {
          text: 'Foodpanda',
          sortable: false,
          value: 'foodpanda',
          align: 'right'
        },
        {
          text: 'จัดการ',
          sortable: false,
          value: 'manage',
          align: 'right'
        }
      ],
      desserts: [
        {
          img: require('assets/images/ex1.png'),
          category: 'กาแฟ',
          productName: 'กาแฟมะพร้าว',
          barcode: 1100110010,
          price: 30,
          grab: 35,
          lineman: 35,
          foodpanda: 40
        },
        {
          img: require('assets/images/ex2.png'),
          category: 'กาแฟ',
          productName: 'กาแฟมะพร้าว',
          barcode: 1100110010,
          price: 30,
          grab: 35,
          lineman: 35,
          foodpanda: 40
        },
        {
          img: require('assets/images/ex3.png'),
          category: 'กาแฟ',
          productName: 'กาแฟมะพร้าว',
          barcode: 1100110010,
          price: 30,
          grab: 35,
          lineman: 35,
          foodpanda: 40
        }
      ]
    }
  },
  computed: {
    ...mapGetters(
      {
      }
    )
  },
  mounted () {
    this.$root.$on('dialogProductById', (type) => {
      this.dialogEditProduct = type
    })
    this.$root.$on('dialogAddProduct', (type) => {
      this.dialogAddProduct = type
    })
    this.$root.$on('dialogDelProductById', (type) => {
      this.dialogDelProduct = type
    })
  },
  methods: {
    ...mapActions(
      {
      }
    ),
    getDataProductById () {
      this.dialogEditProduct = true
    },
    getDataDelProduct () {
      this.dialogDelProduct = true
    }
  }
}
</script>
