<template>
  <v-app>
    <v-main>
      <toolbar
        v-if="getUser"
      />
      <sidebar
        v-if="getUser"
      />
      <nuxt />
      <vue-snotify />
    </v-main>
  </v-app>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import toolbar from '@/components/toolbar'
import sidebar from '@/components/sidebar'

export default {
  components: {
    toolbar,
    sidebar
  },
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters(
      {
        getUser: 'getUser'
      }
    )
  },
  mounted () {
    this.$store.commit('theme_config/setTheme', null)
    this.setStoreDataTheme()
    this.setTheme()
  },
  methods: {
    ...mapActions(
      {
        setStoreDataTheme: 'theme_config/setStoreDataTheme',
        setStoreDataThemeVuetify: 'theme_config/setStoreDataThemeVuetify'
      }
    ),
    setTheme () {
      setTimeout(() => {
        this.$i18n.locale = this.$store.state.language_config.language
        this.$vuetify.theme.dark = this.$store.state.theme_config.setThemeVuetify
      }, 1000)
    }
  }
}
</script>

<style lang="scss">
</style>
