<template>
  <v-app>
    <h1>
      <pre>
        {{ $route }}
      </pre>
    </h1>
    <h1 v-if="error.statusCode === 404">
      <pre>
        {{ pageNotFound }}
      </pre>
    </h1>
    <h1 v-else>
      <pre>
        {{ otherError }}
      </pre>
    </h1>
  </v-app>
</template>

<script>
export default {
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      pageNotFound: '404 Not Found',
      otherError: 'An error occurred'
    }
  },
  head () {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title
    }
  }
}
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
