<template>
  <v-row no-gutters>
    <v-col cols="12">
      <v-row
        no-gutters
      >
        <v-col
          cols="12"
        >
          <pre>
            {{ $nuxt.$fire.auth.currentUser }}
          </pre>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
  },
  layout: 'default',
  computed: {
    ...mapGetters(
      {
      }
    )
  },
  mounted () {
  },
  methods: {
    ...mapActions(
      {
      }
    )
  }
}
</script>
