<template>
  <v-row no-gutters>
    <v-col cols="12">
      <v-row
        class="pa-2"
        no-gutters
      >
        <v-col
          cols="12"
        >
          <v-card
            class="
            round-5
            shadow-1
            pa-2"
          >
            <v-row
              no-gutters
            >
              <v-col
                cols="3"
              >
                <v-row
                  class="my-2"
                  no-gutters
                >
                  <v-col
                    cols="12"
                  >
                    <v-text-field
                      v-model="user.name"
                      placeholder="ชื่อ - นามสกุล"
                      hide-details
                      outlined
                      filled
                      dense
                    />
                  </v-col>
                </v-row>
                <v-row
                  class="my-2"
                  no-gutters
                >
                  <v-col
                    cols="12"
                  >
                    <v-text-field
                      v-model="user.age"
                      type="number"
                      placeholder="อายุ"
                      hide-details
                      outlined
                      filled
                      dense
                    />
                  </v-col>
                </v-row>
                <v-row
                  class="my-2"
                  no-gutters
                >
                  <v-col
                    cols="12"
                  >
                    <v-text-field
                      v-model="user.city"
                      placeholder="จังหวัด"
                      hide-details
                      outlined
                      filled
                      dense
                    />
                  </v-col>
                </v-row>
                <v-row
                  no-gutters
                >
                  <v-col
                    cols="12"
                    class="text-right"
                  >
                    <v-btn
                      color="success"
                      dense
                      depressed
                      class="
                      width-full
                      title-bold"
                      @click="postDataUser"
                    >
                      <span>
                        บันทึก
                      </span>
                    </v-btn>
                  </v-col>
                </v-row>
                <v-row
                  class="my-4"
                  no-gutters
                >
                  <v-col
                    cols="12"
                  >
                    <v-divider />
                  </v-col>
                </v-row>
                <v-row
                  v-if="getDataUserById.id"
                  class="my-2"
                  no-gutters
                >
                  <v-col
                    cols="12"
                  >
                    {{ getDataUserById.id }}
                  </v-col>
                </v-row>
                <v-row
                  class="my-2"
                  no-gutters
                >
                  <v-col
                    cols="12"
                  >
                    <v-text-field
                      v-model="getDataUserById.name"
                      placeholder="ชื่อ - นามสกุล"
                      hide-details
                      outlined
                      filled
                      dense
                    />
                  </v-col>
                </v-row>
                <v-row
                  class="my-2"
                  no-gutters
                >
                  <v-col
                    cols="12"
                  >
                    <v-text-field
                      v-model="getDataUserById.age"
                      type="number"
                      placeholder="อายุ"
                      hide-details
                      outlined
                      filled
                      dense
                    />
                  </v-col>
                </v-row>
                <v-row
                  class="my-2"
                  no-gutters
                >
                  <v-col
                    cols="12"
                  >
                    <v-text-field
                      v-model="getDataUserById.city"
                      placeholder="จังหวัด"
                      hide-details
                      outlined
                      filled
                      dense
                    />
                  </v-col>
                </v-row>
                <v-row
                  no-gutters
                >
                  <v-col
                    cols="12"
                    class="text-right"
                  >
                    <v-btn
                      color="warning"
                      dense
                      depressed
                      class="
                      width-full
                      title-bold"
                      @click="updateDataUserByid(
                        getDataUserById
                      )"
                    >
                      <span>
                        บันทึกแก้ไข
                      </span>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-col>
              <v-col
                cols="9"
              >
                <v-row
                  no-gutters
                >
                  <v-col
                    cols="12"
                  >
                    <v-card
                      class="
                      round-5
                      shadow-2
                      pa-2"
                    >
                      <v-simple-table
                        v-if="userStore"
                        dense
                        class="width-full"
                      >
                        <template #default>
                          <thead>
                            <tr>
                              <th class="text-left">
                                name
                              </th>
                              <th class="text-left">
                                age
                              </th>
                              <th class="text-left">
                                city
                              </th>
                              <th>
                                &nbsp;
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              v-for="(item, index) in userStore"
                              :key="index"
                            >
                              <td>
                                {{ item.name }}
                              </td>
                              <td>
                                {{ item.age }}
                              </td>
                              <td>
                                {{ item.city }}
                              </td>
                              <td
                                class="py-1"
                              >
                                <div
                                  class="
                                  justify-end
                                  d-flex"
                                >
                                  <v-btn
                                    class="
                                    round-3
                                    px-2
                                    ml-1"
                                    small
                                    dark
                                    depressed
                                    color="warning"
                                    @click="postDataUserById(
                                      item
                                    )"
                                  >
                                    <i
                                      class="
                                      fad fa-file-edit
                                      fa-2x"
                                      style="--fa-secondary-opacity: 0.30"
                                    />
                                    <span
                                      class="pl-2"
                                    >
                                      แก้ไข
                                    </span>
                                  </v-btn>
                                  <v-btn
                                    class="
                                    round-3
                                    px-2
                                    ml-1"
                                    small
                                    dark
                                    depressed
                                    color="error"
                                    @click="delDataUserById(
                                      item
                                    )"
                                  >
                                    <i
                                      class="
                                      fad fa-trash
                                      fa-2x"
                                      style="--fa-secondary-opacity: 0.30"
                                    />
                                    <span
                                      class="pl-2"
                                    >
                                      ลบ
                                    </span>
                                  </v-btn>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </template>
                      </v-simple-table>
                    </v-card>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import firebaseKey from '../../store/general'

export default {
  components: {
  },
  layout: 'default',
  data () {
    return {
      userStore: [],
      user: {
        name: null,
        age: null,
        city: null
      },
      getDataUserById: {}
    }
  },
  computed: {
    ...mapGetters(
      {
      }
    )
  },
  mounted () {
    this.getDataStoreUser()
  },
  methods: {
    ...mapActions(
      {
      }
    ),
    async getDataStoreUser () {
      const messageRef = this.$fire.firestore.collection(
        firebaseKey.firebaseCollection
      )
      try {
        const messageDoc = await messageRef.get()
        for (let i = 0; i < messageDoc.docs.length; i++) {
          const messageRefDocs = this.$fire.firestore.collection(
            firebaseKey.firebaseCollection
          ).doc(messageDoc.docs[i].id)
          try {
            const messageRefDocss = await messageRefDocs.get()
            this.userStore.push(
              {
                id: messageRefDocss.id,
                name: messageRefDocss.data().name,
                age: messageRefDocss.data().age,
                city: messageRefDocss.data().city
              }
            )
          } catch (error) {
            console.log(error)
          }
        }
      } catch (error) {
        console.log(error)
      }
    },
    async postDataUser () {
      const messageRef = this.$fire.firestore.collection(
        firebaseKey.firebaseCollection
      ).doc()
      try {
        await messageRef.set(
          {
            name: this.user.name,
            age: JSON.parse(this.user.age),
            city: this.user.city
          }
        )
      } catch (error) {
        console.log(error)
        this.$snotify.error(
          error,
          error,
          {
            position: 'rightTop',
            timeout: 5000,
            titleMaxLength: 100,
            bodyMaxLength: 200,
            showProgressBar: true,
            closeOnClick: false,
            pauseOnHover: true
          }
        )
      }
      this.$snotify.success(
        200,
        'success',
        {
          position: 'rightTop',
          timeout: 5000,
          titleMaxLength: 100,
          bodyMaxLength: 200,
          showProgressBar: true,
          closeOnClick: false,
          pauseOnHover: true
        }
      )
      this.getDataStoreUser()
      this.userStore = []
    },
    async postDataUserById (
      item
    ) {
      const messageRef = this.$fire.firestore.collection(
        firebaseKey.firebaseCollection
      ).doc(item.id)
      try {
        const messageDoc = await messageRef.get()
        this.getDataUserById = {
          id: item.id,
          name: messageDoc.data().name,
          age: messageDoc.data().age,
          city: messageDoc.data().city
        }
      } catch (error) {
        console.log(error)
      }
    },
    async updateDataUserByid (
      getDataUserById
    ) {
      const messageRef = await this.$fire.firestore.collection(
        firebaseKey.firebaseCollection
      ).doc(getDataUserById.id)
      try {
        messageRef.update({
          name: getDataUserById.name,
          age: getDataUserById.age,
          city: getDataUserById.city
        })
        this.$snotify.success(
          200,
          'success',
          {
            position: 'rightTop',
            timeout: 5000,
            titleMaxLength: 100,
            bodyMaxLength: 200,
            showProgressBar: true,
            closeOnClick: false,
            pauseOnHover: true
          }
        )
      } catch (error) {
        console.log(error)
        this.$snotify.error(
          error,
          error,
          {
            position: 'rightTop',
            timeout: 5000,
            titleMaxLength: 100,
            bodyMaxLength: 200,
            showProgressBar: true,
            closeOnClick: false,
            pauseOnHover: true
          }
        )
      }
    },
    async delDataUserById (
      item
    ) {
      await this.$fire.firestore.collection(
        firebaseKey.firebaseCollection
      ).doc(item.id).delete()
      try {
        this.$snotify.success(
          200,
          'success',
          {
            position: 'rightTop',
            timeout: 5000,
            titleMaxLength: 100,
            bodyMaxLength: 200,
            showProgressBar: true,
            closeOnClick: false,
            pauseOnHover: true
          }
        )
        this.getDataStoreUser()
        this.userStore = []
      } catch (error) {
        console.log(error)
        this.$snotify.error(
          error,
          error,
          {
            position: 'rightTop',
            timeout: 5000,
            titleMaxLength: 100,
            bodyMaxLength: 200,
            showProgressBar: true,
            closeOnClick: false,
            pauseOnHover: true
          }
        )
      }
    }
  }
}
</script>
