<template>
  <v-row
    no-gutters
  >
    <v-col
      cols="12"
    >
      <v-row
        class="
        pt-4
        pb-1
        px-2"
        no-gutters
      >
        <v-col
          cols="12"
        >
          <v-card
            class="
            round-5
            shadow-1
            pa-2"
          >
            <v-row
              no-gutters
            >
              <v-col
                cols="12"
              >
                <div
                  class="
                  pt-1
                  title-10"
                >
                  <strong>
                    จัดการพันธมิตร
                  </strong>
                </div>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      <v-row
        class="
        py-1
        px-2"
        no-gutters
      >
        <v-col
          cols="12"
        >
          <v-card
            class="
            round-5
            shadow-1
            pa-2"
          >
            <v-row
              no-gutters
            >
              <v-col
                cols="12"
              >
                <v-data-table
                  dense
                  hide-default-footer
                  :headers="headers"
                  :items="partnerStore"
                  item-key="name"
                >
                  <template
                    #[`item.gp`]="{
                      item
                    }"
                  >
                    {{ item.gp }}
                    %
                  </template>
                  <template
                    #[`item.status`]="{
                      item
                    }"
                  >
                    <v-switch
                      v-if="item.type !== 1"
                      v-model="item.status"
                      :color="$store.state.theme_config.setTheme.main"
                      dense
                      inset
                      hide-details
                      :label="'สถานะใช้งาน'"
                      class="ma-0"
                      @change="updateDataStatusPartner(
                        item
                      )"
                    />
                    <v-switch
                      v-if="item.type === 1"
                      v-model="item.status"
                      :color="$store.state.theme_config.setTheme.main"
                      dense
                      inset
                      hide-details
                      disabled
                      :label="'สถานะใช้งาน'"
                      class="ma-0"
                    />
                  </template>
                </v-data-table>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
  },
  layout: 'default',
  data () {
    return {
      partnerStore: [],
      dialogAddModifier: false,
      didialogEditModifier: false,
      dialogDelModifier: false,
      headers: [
        {
          text: 'รหัส',
          sortable: false,
          value: 'type',
          width: 50
        },
        {
          text: 'ชื่อพันธมิตร',
          sortable: false,
          value: 'name'
        },
        {
          text: 'เปอร์เซ็นต์ที่หัก (รวม VAT 7%)',
          sortable: false,
          value: 'gp',
          align: 'right'
        },
        {
          text: 'สถานะ',
          sortable: false,
          value: 'status',
          align: 'right'
        }
      ]
    }
  },
  computed: {
    ...mapGetters(
      {
      }
    )
  },
  mounted () {
    this.getDataStorePartner()
  },
  methods: {
    ...mapActions(
      {
      }
    ),
    async getDataStorePartner () {
      const msgRef = this.$fire.firestore.collection('partner')
      try {
        const msgDoc = await msgRef.get()
        for (let i = 0; i < msgDoc.docs.length; i++) {
          const msgDocGet = this.$fire.firestore.collection(
            'partner'
          ).doc(msgDoc.docs[i].id)
          try {
            const msgDocToPush = await msgDocGet.get()
            this.partnerStore.push(
              {
                id: msgDocToPush.id,
                name: msgDocToPush.data().name,
                status: msgDocToPush.data().status,
                type: msgDocToPush.data().type,
                gp: msgDocToPush.data().gp
              }
            )
          } catch (error) {
            console.log(error)
          }
        }
      } catch (error) {
        console.log(error)
      }
    },
    async updateDataStatusPartner (
      item
    ) {
      const msgFirebase = await this.$fire.firestore.collection(
        'partner'
      ).doc(item.id)
      try {
        msgFirebase.update({
          name: item.name,
          status: item.status,
          type: item.type
        })
        this.$snotify.success(
          200,
          'success',
          {
            position: 'rightBottom',
            timeout: 5000,
            titleMaxLength: 100,
            bodyMaxLength: 200,
            showProgressBar: true,
            closeOnClick: false,
            pauseOnHover: true
          }
        )
        this.partnerStore = []
        this.getDataStorePartner()
      } catch (error) {
        console.log(error)
        this.$snotify.error(
          error,
          error,
          {
            position: 'rightBottom',
            timeout: 5000,
            titleMaxLength: 100,
            bodyMaxLength: 200,
            showProgressBar: true,
            closeOnClick: false,
            pauseOnHover: true
          }
        )
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.v-input--selection-controls.v-input{
  float: right !important;
}
.v-input--selection-controls__input{
  margin-right: 0px !important;
}
</style>
